<!DOCTYPE html>
<html>
<head>
	<title>ながのcakeオレンジ</title>
</head>
<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<h1>購入情報入力</h1>
				<h2>支払方法</h2>
				<h2>お届け先</h2>
				<%= f.submit "確認画面へ進む" %><!--注文情報確定/orderproduct/indexに飛ぶ-->
			</div>
		</div>
	</div>
</body>
</html>