// Place all the styles related to the public/deli_addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tablev {
	display: inline-block;
}

.tableh {
	height: 145px;
}

.pbottom {
	padding-bottom: 17px;
}