// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#order-details {
	width: 100%;
}
#order-details th {
	border: 0;
	padding: 0;
}
#order-details th:first-child {
	width:25%;
}
#order-details th:last-child {
	width: 75%;
}
#order-details td {
	padding: 10px 5px;
}
#order-details tbody > tr:first-child td {
	border-top: 0;
}
.order-details-left {
	background-color: #eee;
}
#order-details2 {
	width: 100%;
}
#order-details2 th {
	border: 0;
	padding: 0;
}
#order-details2 th:first-child {
	width:60%;
}
#order-details2 th:last-child {
	width: 40%;
}
#order-details2 td {
	padding: 10px 5px;
}
#order-details2 tbody > tr:first-child td {
	border-top: 0;
}
.order-details-left {
	background-color: #eee;
}
.text1{
	margin: 15px 0;
}


.text2{
	margin: 30px 0;
}
.text-center {
	text-align: center;
}
.show_height{
	height:60px;
	background-color: #eee;
}
.tables{
	width: 100%;
}
.td-top{
	background-color: #eee;
	height: 50px;
}
.td-top:first-child{
	width: 50%;
}
.td-top:nth-child(2){
	width: 20%;
}

.tables2{
	width: 100%;
	height: 152px;
}
.td-left{
	background-color: #eee;
	width: 50%;
	padding-left: 5px;
}
.td-right{
	padding-left: 5px;
}
.text7{
	font-size: 18px;
	margin-right: 10px;
	float: left;
}
.box8{
	margin: 25px 0 25px 0;
}
.box9{
	margin-bottom: 30px;
}
.check-btn{
	text-align: center;
}
.p_method{
	font-size: 16px;
}
.user_info{
	font-size: 16px;
}