// Place all the styles related to the public/order_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.done {
	margin: auto;
	width: 700px;
	height: 500px;
	text-align: center;
	padding: auto;
}

.thanks {
	margin: auto;
}

.radio {
	padding-left: 70px;
}

.position {
	margin-left: 21px;
}


.select {
	width: 700px;
}

.tabletext {
	width: 240px;
}

.address {
	width: 500px;
}