// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.action {
	text-align: right;
}

input[type="file"] {
	display: none;
}

.editpro {
	margin-top: 10px;
}

.editpro-fr {
	float: right;
}

.introduction {
  resize: none;
  width:300px;
  height:70px;
  word-break: keep-all;
}