<!DOCTYPE html>
<html>
<head>
	<title>ながのcakeオレンジ</title>
</head>
<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<h1>管理者画面</h1>
				<p>本日の注文件数</p>
				<%= link_to admin_orders_path do %>
					<%= @orders.count %>件
				<% end %>
				<div class="">
					<%= link_to "ログアウト" , destroy_admin_session_path, method: :delete %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
