<li>
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
        <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="glyphicon glyphicon-log-out" aria-hidden="true">
         <%= 'logout ' %></span>
      </li>
      <% end %>